<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCVRP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">    
</head>
<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SCVRP</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " href="./index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./display.html">Display</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="./bibliography.html">Bibliography <span class="sr-only">(current)</span></a>
        </li>
      </div>
    </div>
  </nav>
    <!-- END NAVBAR -->

    <div class="container p-5">
        <div class="d-grid gap-2 mt-3 col-10 mx-auto">
        <h2 class="text-center">
            These articles served as sources for application development
        </h2>

        <p class="text-break pt-5 fs-4">
            Main source: "Models, relaxations and exact approaches for the capacitated vehicle routing problem" by Paolo Toth, Daniele Vigo
          </p>

          <p class="text-break pt-5 fs-4">
            "Comparative Study of Algorithms Metaheuristics Based Applied to the Solution of the Capacitated Vehicle Routing Problem" by Fernando Francisco Sandoya Sánchez, Carmen Andrea Letamendi Lazo and Fanny Yamel Sanabria Quiñónez
          </p>

          <p class="text-break pt-5 fs-4">
            "A Heuristic Approach Based on Clarke-Wright Algorithm for Open Vehicle Routing Problem" - Tantikorn Pichpibul and Ruengsak Kawtummachai
          </p>

        </div>
    </div>

    </div>

</body>
</html>